{# templates/_editor.html #}
<div class="create-post block">
    <h2>{{ header if header else "Editor"}}</h2>

    {% include '_flash.html' %}
    
    {% if show_title %}
    <div class="field create-post-field">
        {% set title = title if type == "edit" else "" %}
        {{ form.title(placeholder=form.title.label.text, value=title) }}
    </div>
    {% endif %}

    <div class="editor">
        <script>
            const data = {{ content | default('') | tojson }};

            tinymce.init({
                selector: '#editor',
                plugins: 'link image code lists',
                toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | code',
                images_upload_url: '{{ url_for("profile.upload_image", bucket_name="posts") }}',
                automatic_uploads: true,
                images_upload_credentials: true,

                init_instance_callback: function (editor) {
                    editor.setContent(data);
                }
            });
        </script>
        {{ form.content(id='editor') }}
    </div>

    <div class="field">
        {{ form.submit(value=header if header else "Editor") }}
    </div>
</div>