{% extends 'base.html' %}

{% block title %}Main Page - SimpleBook{% endblock %}

{% block content %}
<div class="block index-block">
        <h2>Simple Messenger</h2>
        
        <div style="text-align: justify; margin-bottom: 1rem;">
            Simple Messenger - easiest way to communicate with your friends. Write them in dedicated messenger, create posts with images, so your friends will react and comment them!
        </div>

        {% include '_flash.html' %}

        <div class="links">
            <div class="index-fields">
                <div class="field">
                    {% set button_text, href = "Login", url_for('auth.login_form') %}
                    {% include '_submit.html'%}
                </div>
                
                <div class="field">
                    {% set button_text, href = "Register", url_for('auth.register_form') %}
                    {% include '_submit.html'%}
                </div>
            </div>
        </div>
</div>
{% endblock %}