{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{{ url_for('profile.update_submit', field=field) }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="block">
        <h2>Update</h2>

        {% include '_flash.html' %}

        <div class="fields">
            <div class="field">
                {{ form.old_password(placeholder=form.old_password.label.text) }}
            </div>
            <div class="field">
            {% if field == 'username' %}
                {{ form.username(placeholder=form.username.label.text) }}
            {% elif field == 'picture' %}
                {{ form.picture }}
            {% endif %}
            </div>

            <div class="field">
                {% set button_text, href, type = "Update", url_for('profile.update_submit', field=field), "button" %}
                {% include '_submit.html' %}
            </div>
        </div>

        <div class="links words">
            <a href="{{ url_for('profile.profile') }}">Go back</a>
        </div>
    </div>
</form>
{% endblock %}